* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: #365577;
    font-family: tahoma;
    color: darkblue;
}

nav {
  height: 10%;
  width: 100%;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}
.container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #365577;
}

.subcontainer {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  background-color: #FDF8E2;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

}

.nome_cognome {
  height: 50%;
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: orange;
}

.nome_cognome h1 {
  font-size: 20px;
  text-align: center;
}

.nome_cognome input {
  font-size: 20px;
  text-align: center;
  align-self: center;
}

.nome_cognome p {
  text-align: center;
}


.container2 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #365577;
}

.subcontainer2 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FDF8E2;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.nome_cognome2sx {
  height: 50%;
  width: 12%;
  background-color: orange;
  margin-right: 5px;
  border-radius: 10px;
}

.nome_cognome2dx {
  height: 50%;
  width: 12%;
  background-color: orange;
  margin-left: 5px;
  border-radius: 10px;
}



.container3 {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #365577;
}

.subcontainer3 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  background-color: #FDF8E2;
}
